altgraph==0.17.2
appdirs==1.4.3
astroid==2.4.2
colorama==0.4.4
distlib==0.3.0
filelock==3.0.12
future==0.18.2
isort==5.7.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
numpy==1.19.5
packaging==20.8
pefile==2021.9.3
Pillow==8.1.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pylint==2.6.0
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
six==1.14.0
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
virtualenv==16.7.9
wrapt==1.12.1
